<div class="container-fluid">
    <div class="row">
        <div *ngFor="let project of projects | slice:2:3">

            <img src="{{project.images}}" style="width: 200px; height: 200px;">
            <p>{{project.description}}</p>
            <a href={{project.url}></a>
            <p>{{project.tech}}</p>
            <p>{{project.contributions}}</p>
            <p>{{project.pubTitle}}</p>
            <p>{{project.pubs}}</p>

      </div>
      </div>

  <button style="margin-top: 25px;" mat-raised-button color="primary" (click)="goBack()">Go Back</button>
