@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@include mat-core();

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-blue, 200);
$warn: mat-palette($mat-deep-orange);

// lump together
$theme: mat-light-theme($primary, $accent, $warn);

// call
@include angular-material-theme($theme);

$custom-typography: mat-typography-config(
  $font-family: 'Lato, monospace',
  $headline: mat-typography-level(32px, 32px, 300),
  $title: mat-typography-level(13px, 16px, 300),
  $body-1: mat-typography-level(13px, 16px, 300),
  $body-2: mat-typography-level(13px, 16px, 300),
  $button: mat-typography-level(13px, 16px, 300),
  $input: mat-typography-level(1em, 1, 300),
  $subheading-2: mat-typography-level(13px, 16px, 300)
);

/* Material Icon Sizes */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons {
  padding-right: 10px;
}
@include angular-material-typography($custom-typography);
/* Disable Text Select */

// Global Styles
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 50px 50px 50px 50px;
  font-weight: 300;
  background: #fff;
  color: #333;
  line-height: 1.6;
  font-size: 15px;
}

.resume-name {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
}
.resume-span {
  font-size: 13px;
    letter-spacing: 3px;
    color: #83757D;


}
.resume-infos {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.resume-hr {
  border-top: 1px solid #8c8b8b;
  margin-right: 90px;
  margin-bottom: 25px;
}
.resume-contact {
  font-size: 13px;
  letter-spacing: 3px;
  color: #83757D;
  margin-left: 190px;
  padding-top: 10px;
}
.resume-img {
  margin-top: 36px;
  margin-bottom: 25px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.resume-message {
  font-size: 13px;
  letter-spacing: 3px;
  color: #83757D;
  padding-top: 20px;
}
.bio-span {
  color: #333;
  padding-left: 10px;
  font-size: 13px;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

.card-container {
  position: absolute;
  width: 300px;
  height: 380px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  perspective: 1000px;
  .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    &:hover {
      width: 100%;
      z-index: 3;
    }
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    &:hover {
      width: 100%;
      z-index: 3;
    }
  }
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .5s ease-in-out;
  }
  .left:hover ~ .card {
    transform: rotateY(-180deg);
  }
  .right:hover ~ .card {
    transform: rotateY(180deg);
  }
}

.card {
  .front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: #444;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .front {
    background: #fff;
    z-index: 2;
  }
  .back {
    background: #466599;
    z-index: 3;
    transform: rotateY(180deg);
  }
  .front {
    .cover {
      width: 100%;
      height: 150px;
      background: url("https://image.ibb.co/jbG1LQ/pexels_photo_167276.jpg")
        center -220px;
    }
    .photo {
      margin-top: -45px;
      img {
        display: block;
        margin: auto;
        width: 90px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .name {
      margin: 10px auto 5px;
      font-size: 1.5em;
      font-weight: 300;
      line-height: 1;
      text-align: center;
    }
    .role {
      margin: 0;
      text-align: center;
      color: #999;
    }
    .supporting_text {
      margin: 15px auto 20px;
      padding: 8px;
      text-align: center;
    }
  }
  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    .icons {
      padding: 0;
      list-style: none;
      li {
        margin: 20px 0;
        i.mdi {
          color: #FFF;
          font-size: 2em;
          line-height: 1;
          transition: all .3s ease;
          span {
            font-style: normal;
            font-size: 70%;
            top: -3px;
            position: relative;
            margin-left: 8px;
          }
        }
      }
    }
  }
}


