@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@include mat-core();


/* Material Icon Sizes */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  padding-right: 10px;
}


// Global Styles
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 25px 25px 25px 25px;
  font-weight: 300;
  background: #fafafa;
  color: #333;
  line-height: 1.6;
  font-size: 15px;

}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.resume-name {
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.resume-span {
  font-size: 10px;
  letter-spacing: 1px;
  padding-left: 0px;

}

.resume-infos {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 20px;
}

.resume-hr {
  border-top: 1px solid #8c8b8b;
  margin-right: 10px;
  margin-bottom: 26px;
}

.resume-contact {
  margin-left: 0px;
  font-size: 13px;
}

.resume-img {
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: 1px solid #D3D3D3;

}

.resume-message {
  padding-top: 10px;
  font-size: 13px;
}

.bio-span {
  color: #333;
  padding-left: 10px;
  text-decoration: none;
  color: #2A5DB0;
}

.bio-ahref {
  text-decoration: none;
  color: #2A5DB0;
}

.bio-padding {
  padding-top: 0px;
}



.projects-row {
  margin-top: 80px;
  text-align: center;
}

.projects-img {
  cursor: pointer;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 1px solid #D3D3D3;
  margin-bottom: 20px;
}

.project-title {
  color: #2A5DB0;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  margin-right: 15px;
}

.school-padding {
  padding-right: 75px;
}

.school-margin {
  margin-bottom: 20px;
}

.online-text {
  text-decoration: none;
  color: #2A5DB0;
}

.job-layout {
  margin-bottom: 20px;
  max-width: 75%;
}

.zoom:hover {
  transform: scale(1.1);

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    font-family: 'Lato', sans-serif #5f6368;
    margin: 50px 50px 50px 50px;
  }

  .title {
    display: inline-block;
  }

  .resume-name {
    font-size: 2rem;
    float: left;
  }

  .resume-span {
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 20px;
  }


  .resume-infos {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 1px;

  }

  .resume-hr {
    border-top: 1px solid #8c8b8b;
    margin-right: 90px;
    margin-bottom: 26px;
  }

  .resume-contact {
    margin-left: 10px;
    font-size: 15px;
  }

  .resume-img {
    margin-top: 36px;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border: 1px solid #D3D3D3;

  }

  .resume-message {
    font-size: 15px;
  }

  .bio-span {
    color: #333;
    padding-left: 10px;
    text-decoration: none;
    color: #2A5DB0;
    font-size: 15px;
    // letter-spacing: 1px;
  }

  .bio-ahref {
    text-decoration: none;
    color: #2A5DB0;
  }

  .bio-padding {
    padding-top: 40px;
  }

  .projects-margin {
    margin-top: 25px;
  }

  .projects-row {
    margin-top: 80px;
    text-align: center;
  }

  .projects-img {
    cursor: pointer;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #D3D3D3;
    margin-bottom: 20px;
  }

  .project-title {
    color: #2A5DB0;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 0px;

  }

  // .project-left {
  //   margin-left: 40px;
  // }

  .school-padding {
    padding-right: 75px;
  }

  .school-margin {
    margin-bottom: 20px;
  }

  .online-text {
    text-decoration: none;
    color: #2A5DB0;
  }

  .job-layout {
    margin-bottom: 20px;
    max-width: 75%;
  }


}
