@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@include mat-core();

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-blue, 200);
$warn: mat-palette($mat-deep-orange);

// lump together
$theme: mat-light-theme($primary, $accent, $warn);

// call
@include angular-material-theme($theme);

$custom-typography: mat-typography-config(
  $font-family: 'Lato, monospace',
  $headline: mat-typography-level(32px, 32px, 300),
  $title: mat-typography-level(13px, 16px, 300),
  $body-1: mat-typography-level(13px, 16px, 300),
  $body-2: mat-typography-level(13px, 16px, 300),
  $button: mat-typography-level(13px, 16px, 300),
  $input: mat-typography-level(1em, 1, 300),
  $subheading-2: mat-typography-level(13px, 16px, 300)
);

/* Material Icon Sizes */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons {
  padding-right: 10px;
}
@include angular-material-typography($custom-typography);
/* Disable Text Select */

// Global Styles
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif #5f6368;
  margin: 50px 50px 50px 50px;
  font-weight: 300;
  background: #fafafa;
  color: #333;
  line-height: 1.6;
  font-size: 15px;

}

.resume-name {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
}
.resume-span {
  font-size: 13px;
    letter-spacing: 2px;
    color: #83757D;


}
.resume-infos {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.resume-hr {
  border-top: 1px solid #8c8b8b;
  margin-right: 90px;
  margin-bottom: 26px;
}
.resume-contact {
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 215px;
  padding-top: 5px;
}
.resume-img {
  margin-top: 36px;
  margin-bottom: 25px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.resume-message {
  font-size: 13px;
  letter-spacing: 1px;
  padding-top: 20px;
}
.bio-span {
  color: #333;
  padding-left: 10px;
  font-size: 13px;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

